{% if geo_secondary_site_group_name not in group_names and ('sidekiq_primary' in group_names or ('sidekiq' not in groups and 'gitlab_rails_primary' in group_names)) %}
gitlab_rails['auto_migrate'] = true

gitlab_rails['db_host'] = '{{ postgres_host if postgres_external else internal_lb_host }}'
gitlab_rails['db_port'] = '{{ postgres_port }}'
{% else %}
gitlab_rails['auto_migrate'] = false
{% endif %}

{% if 'praefect_primary' in group_names %}
praefect['auto_migrate'] = true
{% elif 'praefect_secondary' in group_names %}
praefect['auto_migrate'] = false
{% endif %}
